<div class="container-md">
    <div class="mb-4">
      <div class="contact-container">
        <h1 id="title">Contact</h1>
        <hr>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
          <div class="form-group mb-2">
            <input type="text" class="form-control" id="lastName" name="lastName"
            placeholder="Nom*" required maxlength="255" formControlName="lastName" />
  
            <input type="text" class="form-control" id="firstName" name="firstName"
            placeholder="Prénom*" required maxlength="255" formControlName="firstName" />
          </div>
          <div class="form-group mb-2">
            <input type="email" class="form-control" id="email" name="email"
            placeholder="Email*" required maxlength="255" formControlName="email" />
  
            <input type="tel" class="form-control" id="tel" name="tel"
            placeholder="Téléphone" formControlName="tel" />
          </div>
          <div class="form-group">
            <label for="service">Sujet*</label>
            <select name="service" id="service" class="form-control" formControlName="service" required>
              <option value="web_site">Création d'un site web</option>
              <option value="game">Développement d'un jeu</option>
              <option value="logiciel">Développement d'un logiciel sur mesure</option>
              <option value="logo">Création d'un logo</option>
              <option value="formation">Formation</option>
              <option value="other">Autre</option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="message">Message*</label>
            <textarea class="form-control" id="message" name="message" formControlName="message" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
  