@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

html {
    -webkit-text-size-adjust: 100%; /* Désactiver le redimensionnement du texte */
}

@media screen and (max-width: 3000px) {

    * {
        box-sizing: border-box;
        color: #000000;
        border-color: #000000;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    .carousel-inner {
        padding: 15%;
        /*height: 55vh;*/
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    img {
        min-width: 200px;
        min-height: 200px;
        text-align: center;
        /* padding: 30%; */
        /* padding-top: 8%; */
        /* padding-left: 8%; */
        /* padding-right: 8%; */
        /* padding-bottom: 8%; */
        margin-bottom: 7%;
        border-color: rgb(0, 0, 0);
    }

    #button {
      background-color: #000000;
      position: relative;
    }

    /* button, span, icon {
        color: #000 !important;
        background-color: #000;
    } */


    #carousel {
        margin: auto;
        /* bottom: 0;     */
        position: relative;
        left: 0;

    }

    #collaborationCarousel {
        width: 50vh;
        text-align: center;
        margin: auto;
        border: 1px solid #000000;
        border-radius: 5%;
        margin-bottom: 5%;
    }

    h2 {
      font-size:1.8em;
      font-weight: bold;
      line-height: 32px;
      font-family: Roboto, sans-serif;
      letter-spacing: .0125em;
      margin: 0 0 16px;
    }

    p {
        /* margin: 90%; */
        position: relative;
        margin: auto;
        font-size: large;
        line-height: 32px;
      font-family: Roboto, sans-serif;
      letter-spacing: .0125em;
    }

}

@media screen and (max-width: 800px) {
  img {
    min-width: 100px;
    min-height: 100px;
  }

  .d-none {
    display: inline-block !important;
  }

  #collaborationCarousel {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  #collaborationCarousel {
    width: 80vw;
  }
}
