<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../assets/img/service_site-web.png)"></div>
      <div class="card__content">
        <p class="card__category">{{'Service' | translate }}</p>
        <h3 class="card__heading">Création de site-web</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../assets/img/service_jeu.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Service</p>
        <h3 class="card__heading">Développement de jeux</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../assets/img/service_logiciel.png)"></div>
      <div class="card__content">
        <p class="card__category">Service</p>
        <h3 class="card__heading">Logiciels sur mesure</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../assets/img/service_logo.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Service</p>
        <h3 class="card__heading">Design de logo</h3>
      </div>
    </a>
  </div>
</section>
