<div class="container-md">
    <div class="mb-4">
        <div class="about-container">

            <h1 id="title">{{'À_propos' | translate}}</h1>
            <hr>

            <section class="intro">
                <p>
                    {{'À_propos_desc' | translate}}
                </p>
            </section>
            <section>
                <img id="pp" src="assets/img/entreprise/kb_pp.png" alt="dijanov" />
            </section>
            <section class="mission">
                <h2>{{'Mission' | translate}}</h2>
                <p>
                    {{'Mission_desc' | translate}}
                </p>
            </section>
            <section class="expertise">
                <h2>{{'Expertise' | translate}}</h2>
                <p>
                    {{'Expertise_desc' | translate}}
                </p>
            </section>
            <div id="infinity"></div>
            <section>
                <img id="me" src="assets/img/entreprise/kb.png" alt="dijanov" />
            </section>
            <section class="values">
                <h2>Valeurs</h2>
                <ul>
                    <li>
                        <strong>{{'Innovation' | translate}} :</strong>
                        {{'Innovation_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'Efficacité' | translate}} :</strong>
                        {{'Efficacité_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'Engagement_&_Fiabilité' | translate}} :</strong>
                        {{'Engagement_&_Fiabilité_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'Collaboration' | translate}} :</strong>
                        {{'Collaboration_desc' | translate}}
                    </li>
                </ul>
            </section>
            <section class="services">
                <h2>Services</h2>
                <ul>
                    <li>
                        <strong>{{'service_title_1' | translate}} :</strong>
                        {{'service_title_1_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'service_title_2' | translate}} :</strong>
                        {{'service_title_2_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'service_title_3' | translate}} :</strong>
                        {{'service_title_3_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'service_title_4' | translate}} :</strong>
                        {{'service_title_4_desc' | translate}}
                    </li>
                    <li>
                        <strong>{{'service_title_5' | translate}} :</strong>
                        {{'service_title_5_desc' | translate}}
                    </li>
                </ul>
                <a class="navbar-brand" href="#" routerLink="/services">
                    {{'Voir_plus' | translate}} ...
                </a>
            </section>
            <section>
                <h2>{{'Vision' | translate}}</h2>
                <p>
                    {{'Vision_desc' | translate}}
                </p>
            </section>
            <section class="contact">
                <h2>{{'Contactez-moi' | translate}}</h2>
                <p>
                    {{'Contactez-moi_desc' | translate}}
                </p>
                <a class="nav-link" href="mailto:contact@dijanov.com">Envoyer un email</a>
            </section>
        </div>
    </div>
</div>
<app-footer></app-footer>