@media screen and (max-width: 3000px) {

    body {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .about-container {
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        color: black;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .about-container p, .about-container ul {
        line-height: 1.6;
    }

    .about-container ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    .about-container ul li {
        margin-bottom: 10px;
    }

    #title {
        margin-top: 10%;
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 40px;
    }

    hr {
        width: 100%;
        margin-bottom: 8%;
        text-align: center;
    }

    #me {
        float: right;
        position: relative;
        margin: 5%;
        width: 300px;
        height: 300px;
    }

    #pp {
        float: left;
        position: relative;
        margin: 5%;
        width: 300px;
        height: 300px;
    }

    #h2_center {
        width: 100%;
        text-align: center;
    }

    pre {
        width: 100%; /* Définissez la largeur souhaitée */
        white-space: pre-wrap; /* Forcer le retour à la ligne */
        word-wrap: break-word; /* Pour assurer la compatibilité */
        /*background-color: #f0f0f0; /* Optionnel : couleur de fond pour mieux voir la zone */
        padding: 10px; /* Optionnel : ajout de padding pour l'espacement */
        /*border: 1px solid #ccc;  Optionnel : ajout de bordure */
    }

    #article_content {
        width: 100%;
        white-space: pre-wrap;
        position: relative;
    }

    video {
        max-width: 100%; /* Vidéo ajustée à la taille du conteneur */
        height: auto; /* Maintient le ratio d'aspect */
        display: block; /* Assure que la vidéo prenne toute la largeur du conteneur */
    }

    .articles-container {
        /* grid-template-columns: repeat(2, 1fr); */
        position: relative;
    }
    
    .article {
        width: fit-content;
        margin: 2%;
        border-radius: 10px;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
        border: 1px solid #5E01FD;
        position: relative;
        display: inline-block;  /*Permet à la largeur de s'ajuster au contenu */
        flex-direction: column; 
        max-width: 45%; /* Limite maximale de la largeur */
        padding: 1%;
        background-color: #f0f0f0; /* Optionnel : couleur de fond pour mieux voir la zone */
        vertical-align: top;
    }

    /* Déco */
    
    #infinity {
        position: relative;
        width: 55px;
        height: 20px;
        left: 50%;
        box-sizing: content-box;
    }

    #infinity:before, #infinity:after {
        content: "";
        box-sizing: content-box;
        position: absolute;
        top: 20px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #5E01FD;
        border-radius: 50px 50px 0 50px;
        transform: rotate(-45deg);
    }
    
    #infinity:after {
            left: auto;
            right: 0;
            border-radius: 50px 50px 50px 0;
            transform: rotate(45deg);
        }

    #yin-yang {
        width: 96px;
        box-sizing: content-box;
        height: 48px;
        background: #eee;
        border-color: #5E01FD;
        border-style: solid;
        border-width: 2px 2px 50px 2px;
        border-radius: 100%;
        position: relative;
    }
    
    #yin-yang:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: #eee;
        border: 18px solid #5E01FD;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
    }
    
    #yin-yang:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: #5E01FD;
        border: 18px solid #eee;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
    }

}
