<div class="container-md">
    <div class="mb-4">
        <div class="about-container">

            <h1 id="title">À propos</h1>
            <hr>

            <section class="intro">
                <p>
                    Bienvenue chez Dijanov, votre partenaire de confiance pour des solutions numériques sur mesure.
                    <br/>
                    Je suis <strong>Khady BA</strong>, ingénieure en études et développement dans le domaine de
                    l'informatique.
                    <br/>
                    Extravertie et passionnée, je valorise l'efficacité et la collaboration afin de vous offrir des
                    solutions de haute qualité.
                </p>
            </section>
            <section>
                <img id="pp" src="assets/img/entreprise/kb_pp.png" alt="dijanov" />
            </section>
            <section class="mission">
                <h2>Mission</h2>
                <p>
                    Mon objectif est de vous fournir des services numériques sur mesure pour transformer vos idées
                    en réalité numérique. Je combine innovation, technologie et expertise pour offrir des solutions
                    adaptées à vos besoins uniques.
                </p>
            </section>
            <section class="expertise">
                <h2>Expertise</h2>
                <p>
                    En tant que développeuse fullstack, cheffe de projet informatique et formatrice,
                    j'apporte une combinaison unique de compétences techniques et de gestion de projet.
                    Diplômée d'un master en Génie de l'Informatique Logicielle et de certificats en gestion de projet,
                    je suis capable de gérer tous les aspects de votre projet, de l'idée initiale à la mise en œuvre
                    finale.
                </p>
            </section>
            <div id="infinity"></div>
            <section>
                <img id="me" src="assets/img/entreprise/kb.png" alt="dijanov" />
            </section>
            <section class="values">
                <h2>Valeurs</h2>
                <ul>
                    <li>
                        <strong>Innovation :</strong> Toujours à la recherche de nouvelles idées pour vous offrir le
                        meilleur de la technologie.
                    </li>
                    <li>
                        <strong>Efficacité :</strong> Structurer et optimiser chaque projet pour un résultat optimal.
                    </li>
                    <li>
                        <strong>Engagement & Fiabilité :</strong> Passionnée et engagée à fournir des solutions fiables
                        et durables.
                    </li>
                    <li>
                        <strong>Collaboration :</strong> Travailler en étroite collaboration avec vous pour garantir
                        votre satisfaction afin d'assurer le succès de votre projet.
                    </li>
                </ul>
            </section>
            <section class="services">
                <h2>Services</h2>
                <ul>
                    <li><strong>Création de sites web :</strong> Développement de sites web modernes, réactifs et
                        optimisés pour le référencement.</li>
                    <li><strong>Développement de jeux :</strong> Conception et développement de jeux interactifs et
                        engageants.</li>
                    <li><strong>Logiciels sur mesure :</strong> Développement de logiciels personnalisés pour répondre à
                        vos besoins spécifiques.</li>
                    <li><strong>Design de logos :</strong> Création de logos uniques et mémorables qui représentent
                        votre marque.</li>
                    <li><strong>Formation :</strong> Offrir des formations adaptées pour améliorer vos compétences en
                        développement web, gestion de projets, et plus encore.</li>
                </ul>
                <a class="navbar-brand" href="#" routerLink="/services">
                    {{'Voir_plus' | translate}} ...
                </a>
            </section>
            <section>
                <h2>Vision</h2>
                <p>
                    Je crois en un avenir où la technologie améliore la vie quotidienne et aide les entreprises et particuliers à
                    atteindre leurs objectifs.
                </p>
            </section>

            <section class="contact">
                <h2>Contactez-moi</h2>
                <p>
                    Prêt à donner vie à votre projet numérique ? Contactez-moi dès aujourd'hui pour discuter de vos
                    besoins et voir comment je peux vous aider à atteindre vos objectifs.
                </p>
                <a class="nav-link" routerLinkActive="active" routerLink="/contact">Envoyer un email</a>
            </section>
        </div>
    </div>
</div>