<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark mb-4 shadow-sm" style="background-color: #5E01FD">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/">
      <img id="logo" src="assets/img/Dijanov_fb.png" alt="dijanov" draggable="false" height="30" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">{{'Accueil' | translate}}</a>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/services">{{'Services' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/sections">{{'Compétences' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about">{{'À_propos' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact">{{'Contact' | translate}}</a>
        </li>
        <li class="nav-item" id="language">
          <select #langSelect (change)="languageService.switchLanguage(langSelect.value)">
            <option value="fr" [selected]="languageService.currentLanguage === 'fr'">{{'Français' | translate}}</option>
            <option value="en" [selected]="languageService.currentLanguage === 'en'">{{'Anglais' | translate}}</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>
