<div class="container-md">
  <div class="mb-4">
    <h1 id="title">Collaborations</h1>
    <hr>
    <div id="collaborations" class="cards" data-state="#about">
      <div id="collaboration" class="image border rounded-3 overflow-hidden" *ngFor="let collaboration of collaborations">
        <div class="card" id="card">
          <div class="card-cover" style="background-image: url('{{collaboration?.picture}}')"></div>
          <img class="card-avatar" src="{{collaboration?.picture}}" alt="avatar" />
          <h1 class="card-title">{{collaboration?.title | translate}}</h1>
          <div class="card-content">
              <h2 class="card-subtitle"></h2>
              <p class="card-desc">{{collaboration?.description | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>