  /* Mixin pour centrer un élément */
  .center {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  /* Import de la police Raleway */
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,800,900');

  /* Styles globaux */
  html {
    width: 100%;
    height: 100%;
  }

  body {
    background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
  }

  /* Style pour le conteneur */
  .title {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 10vh;
    width: 80vw;
    height: fit-content;
    text-align: center;
  }

  /* Style pour le titre */
  .title {
    font-weight: 800;
    color: transparent;
    font-size: 50px;
    background: url(./assets/img/Dijanov_logo_cover_2.png) repeat;
    background-position: 1% 1%;
    background-position-x: 1%;
    background-position-y: 1%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 80px;
    letter-spacing: -2px;
    width: 100vw;
    word-wrap: break-word;
    height: fit-content;
  }

  
  /* Style pour le sous-titre 
  .subtitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
  }*/

  
  @media screen and (max-width: 1080px) {
    .title {
      margin-top: 15vh;
    }
  }

 
  @media screen and (max-width: 635px) {
    .title {
      margin-top: 20vh;
    }
  }

 @media screen and (max-width: 442px) {
    .title {
      margin-top: 25vh;
    }
  }

  @media screen and (max-width: 330px) {
    .title {
      margin-top: 30vh;
    }
  }

  @media screen and (max-width: 233px) {
    .title {
      margin-top: 35vh;
    }
  }
 
  @media screen and (max-width: 225px) {
    .title {
      margin-top: 40vh;
    }
  } 

  @media screen and (max-width: 192px) {
    .title {
      margin-top: 55vh;
    }
  }