<div class="container-md">
  <div class="mb-4">
    <h1 id="title">Services</h1>
    <hr>
    <div id="services" class="cards" data-state="#about">
      <div id="service" class="image border rounded-3 overflow-hidden" *ngFor="let service of services">
        <div class="card" id="card">
          <div class="card-cover" style="background-image: url('{{service?.picture}}')"></div>
          <img class="card-avatar" src="{{service?.picture}}" alt="avatar" />
          <h1 class="card-title">{{service?.title | translate}}</h1>
          <div class="card-content">
              <h2 class="card-subtitle"></h2>
              <p class="card-desc">{{service?.description  | translate}}</p>
              <ul class="card-desc" *ngIf="service?.id == 5">
                <li>{{'Formation_1'  | translate}}</li>
                <li>{{'Formation_2'  | translate}}</li>
                <li>{{'Formation_3'  | translate}}</li>
                <li>{{'Formation_4'  | translate}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-collaborations></app-collaborations>
<app-footer></app-footer>
