<div class="container-md">
    <div class="mb-4">
        <h1 id="title">{{'Compétences' | translate}}</h1>
        <hr>
        <div id="skills" class="card" data-state="#about" *ngFor="let item of skills">
            <h2 id="item">{{item.type | translate}}</h2>
            <a id="skill" class="image border rounded-3 overflow-hidden" *ngFor="let skill of item.values" href="{{skill?.link}}">
                <figure>
                    <img class="card" src="{{skill?.picture}}" alt="avatar" />
                    <figcaption class="card-title">{{skill?.title | translate}}</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>