@import url('https://fonts.googleapis.com/css?family=Roboto:300');

  body {
    text-align: center;
    background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  #logo {
    display: block;
    border: 5px solid #5E01FD;
    border-style: outset;
    border-radius: 5%;
    width: 100%;
    max-width: 600px; /* Limite la taille maximale du logo */
  }

  div {
    display: flex;
    justify-content: center;
    justify-items: auto;
  }

  .flip {
    position: relative;
    margin-top: 12vh;  /*Ajustez la marge selon vos besoins */
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flip .dijanov {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    transform: rotateY(0deg);
    transition: opacity 0.6s, transform 0.6s;

  }

  .flip:hover .dijanov {
    transform: rotateY(-180deg);
    transition: opacity 0.6s, transform 0.6s;
  }

  .flip .slogan {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: rotateY(-180deg);
    transition: opacity 0.6s, transform 0.6s;
    background-color: rgba(0, 0, 0, 0.7); /* Ajoute un fond sombre pour la lisibilité du texte */
    border-radius: 5%; /* Correspond au bord du logo */
  }


  .flip:hover .slogan {
    opacity: 1;
    transform: rotateY(0deg);
  }


  .flip .slogan p {
    margin: 0;
    color: #ffffff;
    font-size: 1.6vw;  /*Utilisation des unités 'vw' pour que le texte s'adapte à la taille de l'écran */
    max-width: 600px;
    line-height: 1.4;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    padding: 10px;
  }

  .welcome {
    position: relative;
    margin: 8vh;
    margin-bottom: -20vh;
  }

  @media screen and (max-width: 3000px) {
    .flip .slogan p {
      font-size: 0.8vw;
    }
  }

  @media screen and (max-width: 2000px) {
    .flip .slogan p {
      font-size: 1.3vw;
    }
  }

  @media screen and (max-width: 1500px) {
    .flip .slogan p {
      font-size: 1.6vw;
    }
  }

  @media screen and (max-width: 1250px) {
    .flip .slogan p {
      font-size: 1.8vw;
    }
  }

  @media screen and (max-width: 1000px) {
    .flip .slogan p {
      font-size: 2.3vw;
    }

  }

  @media screen and (max-width: 800px) {
    .flip .slogan p {
      font-size: 2.8vw;
    }
  }

  @media screen and (max-width: 600px) {
    .flip .slogan p {
      font-size: 3.5vw;
    }
  }