<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="flip">
  <div class="dijanov">
    <img id="logo" src="/assets/img/Dijanov_fb.png" alt="dijanov" />
  </div>
  <div class="slogan">
    <p>
      {{'Recherche' | translate}}<br/>
      {{'Aspiration' | translate}}<br/><br/>
      {{'Stop_recherche' | translate}}<br/><br/>
      {{'Slogan' | translate}}<br/>
    </p>
      <a class="navbar-brand" href="#" routerLink="/home">
        {{'Voir_plus' | translate}} ...
      </a>
  </div>
</div>