<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div #card class="card-grid">
    <a class="card" *ngFor="let service of services" (click)="openDetail(service)">
      <div class="card__background" style="background-image: url({{service?.picture}})"></div>
      <div class="card__content">
        <p class="card__category">{{'Service' | translate}}</p>
        <h3 class="card__heading">{{service?.title | translate}}</h3>
      </div>
    </a>
    <app-card-detail *ngIf="isDetailOpen" [service]="selectedService"  (click)="closeDetail($event)" (close)="closeDetail()"></app-card-detail>
  </div>
</section>
